@import "tailwindcss";

:root {
  --bg-dark: url('/v1016-b-09.jpg');
  --foreground: #c5c3c3;
  --text-dark: #f9fafb;
  --bg-light: url('/2.jpg');
  --text-light: #0a0b11;
}


body {
  background: var(--bg-light);
  color: var(--text-light);
  transition: background 0.6s ease, color 0.4s ease;
  background-size: cover;
  background-position: center;
  
  @media (width >= 48rem) {
    padding: 0 8% 0 8%;
  }
  
}




@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

}




.dark body{
  background: var(--bg-dark);
  color: var(--text-dark);
}



.light {
  background: var(--bg-light);
  color: var(--text-light);
}

.portrait {
  mask-image: linear-gradient(#fff 80%, transparent);
}