@import "tailwindcss";

:root {
  --background-dark: url('/v1016-b-09.jpg');
  --foreground: #c5c3c3;
  --text-dark:#f9fafb;
  --background-light: url('/4.jpg');
  --text-light: #0a0b11;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
}


.dark {
  background: var(--background-dark);
  color: var(--text-dark);
  font-family: Arial, Helvetica, sans-serif;
}



.light {
  background: var(--background-light);
  color: var(--text-light);
  font-family: Arial, Helvetica, sans-serif;
}